.skill {
    border: 1px solid red;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.icon {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #ff996d;
}

.discription {

}