.skillsBlock{
    min-height: 100vh;
    background-color: #a8b3ff;
}

.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    border: 1px solid;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}