.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 42px;
  color: #212121;
  min-width: 100px;
  min-height: 25px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: #212121;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}






