@import "./../../common/styles/sass/variables";
@import "./../../common/styles/sass/mixins";

.content {
  margin: 15px 0;
  box-shadow: 25px 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-family: "IBM Plex Mono", monospace;
  width: 300px;
  height: 212px;
  display: inline-block;
  position: relative;
  @media screen and (max-width:420px) {
    width: 270px;
    height: 170px;
  }
  & img {
    width: 100%;
    height: 100%;
  }
  .about {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 48, 48);
    color: white;
    text-align: center;
    @include text($textFont, 15px, white);
    opacity: 0;
    transition: all 0.6s;
    @media screen and (max-width:420px) {
      @include text($textFont, 10px, white);
    }
    
    .btnBlock {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &:hover .about {
    opacity: 1;
  }
  & h3{
    @include text($titleFont, 20px, $mainColor );
    margin: 5px 0 5px 0 ;
  }
  & h4{
    @include text($titleFont, 15px, $textAnatacColor );
    margin: 0;
  }
  & p{
    padding-left: 5px;
    padding-right: 5px;
  }
}
