@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";


.main {
  min-height: 100vh;
  //background-color: #e6e8e4;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  @media screen and (max-width: 1130px) {
    flex-direction: column;
    align-items: center;
  };

  &::before {
    content: "";
    position: absolute;
    background-color: $textTitleColor;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
  }


  .myName {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .specText {
      margin-top: 15%;
      @include text($titleFont, 15px, $mainColor);
      z-index: 0;
    }

    .text {
      //margin-top: 15%;
      @include text($titleFont, 50px, $mainColor);
      z-index: 0;
    }
  }


  .img {

    z-index: 2;
    min-width: 380px;
    min-height: 570px;
    margin: 5%;



    .photo {
      border-radius: 15px;
      max-width: 650px;
      max-height: 570px;
      @media screen and (max-width: 430px) {
        max-width: 550px;
        max-height: 470px;
        margin-left: 9%;
      }
    }
  }


}



