@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";


.main {
  min-height: 100vh;
  background-color: #e6e8e4;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;


  &::before{
    content: "";
    position: absolute;
    background-color: $textTitleColor;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .9;
  }

  .text {
    margin-top: 15%;
    @include text($titleFont,50px,$mainColor);
    z-index: 0;
    }
}



