@import "./variables";

@mixin text($fontFamily,$fontSize,$color){
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $color;
}

@mixin flex($display, $justifyContent, $align-items){
  display: $display;
  justify-content: $justifyContent;
  align-items: $align-items;
}