@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.footer {
  @include flex(flex, space-around, center);
  min-height: 150px;
  background-color: #fff;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.hrefs {
  width: 80%;
  @include flex(flex, space-around, center);

  & button {
    border-radius: 7px;
    border: none;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
  }

  //& hr {
  //  width: 1px;
  //  height: 15px;
  //  background-color: #c25f42;
  //}

  //& span {
  //  border-radius: 5px;
  //}
}


