.footer {
    /*border: 2px solid;*/
    height: 150px;
  background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.hrefs {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   background-color: #202020;
}

.hrefs span {
    border-radius: 5px;
}

.hrefs hr {
    width: 1px;
    height: 15px;
    background-color: #c25f42;
}