@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.projects {
  background-color: $bgColor;

  .pBlock {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .projBlock {
      @include flex(flex,space-between,flex-start);
      @include text($textFont,17px,$textTitleColor);
      flex-wrap: wrap;
      margin-top: 25px;
      @media screen and (max-width: 749px) {
        justify-content: center;
      }
    }
  }
}



